/* CSS declarations go here */
html, body { height: 100%; }

.container {
    min-height: 100%;
    overflow : hidden;
}

#col1, #col2 {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

#header {
    background-color: #fff;
}

#studentData {
    display: table-row;
}
.progress {
    width: 400px;
}
ul{
    display: table;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.alert {
    min-width: 200px;
}