#messageInput{
    height: 150px;
    max-width: 350px;
}

#subjectInput {
    max-width: 350px;
}
#addressInput {
    max-width: 350px;
}

@media only screen and (max-width: 600px) {

    #messageInput {
        max-width: 100%
    }
    #subjectInput {
        max-width: 100%;
    }
    #addressInput {
        max-width: 100%;
    }


}