/* Generic Structure for webpage */
html, body { height: 100%; }

.container {
    mon-height: 100% overflow : hidden;
}

#col1, #col2 {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

#header {
    background-color: #73000A;
    padding-top:0px;
    margin-top: 0px;
}

.panel-footer {
    padding: 0px;
}
